<div class="brands">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="brands_slider_container">
            <!-- Brands Slider -->
                <app-slider></app-slider>
            <!-- Brands Slider Navigation -->
            <div class="brands_nav brands_prev">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="brands_nav brands_next">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
